* {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   height: 100vh;
   display: flex;
   flex-direction: column;
}
header {
   background-color: rgb(247, 247, 247);
   display: flex;
   align-items: center;
   padding: 20px;
   height: 100px;
}
header > div {
   margin-left: 30px;
}
.Titulo {
   font-size: 30px;
   color: #363636;
}
.Sub-Titulo {
   font-size: 18px;
   color: #363636;
}
.container {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
}

.container__triqui > div {
   display: flex;
   flex-direction: row;
}
.triqui__item {
   width: 120px;
   height: 120px;
   border: 5px solid #25aac7;
   cursor: pointer;
}
.triqui__item:hover {
   background-color: antiquewhite;
}
.container__triqui > div:first-child > div {
   border-top: none;
}
.container__triqui > div:last-child > div {
   border-bottom: none;
}
.triqui__item:first-child {
   border-left: none;
}
.triqui__item:last-child {
   border-right: none;
}
.container__jugadores {
   height: 100%;
   width: 150px;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   padding-bottom: 20px;
   margin: 60px;
}
.jugadores {
   width: 120px;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   position: absolute;
   bottom: 65px;
   padding: 15px;
}
.jugadores--uno {
   left: 220px;
}
.jugadores--dos {
   right: 220px;
}
.jugadores > img {
   width: 100px;
}
.jugadores__indicadores {
   width: 20px;
   height: 20px;
   border-radius: 50%;
   position: absolute;
}

.jugadores__indicadores--uno {
   right: -7px;
   top: -7px;
   background-color: #c72525;
}
.jugadores__indicadores--uno.oculto {
   display: none;
}
.jugadores__indicadores--dos {
   left: -7px;
   top: -7px;
   background-color: #25c73b;
}
.jugadores__indicadores--dos.oculto {
   display: none;
}
.animated {
   animation-duration: 2.5s;
   animation-iteration-count: infinite;
}
@keyframes pulse {
   0% {
      transform: scale(1);
   }
   50% {
      transform: scale(1.5);
   }
   100% {
      transform: scale(1);
   }
}
.pulse {
   animation-name: pulse;
   animation-duration: 1s;
}
.footer {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 60px;
   height: 70px;
}
.footer > a {
   text-decoration: none;
   color: #363636;
   margin-top: 80px;
   font-size: 20px;
}
.footer > a:hover {
   text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
   .jugadores{
      bottom: 0;
      padding: 0;
   }
   .jugadores--uno {
      left: 20px;
   }
   .jugadores--dos {
      right: 20px;
   }
   .footer > a { 
      margin-top: auto;
   }
}
@media only screen and (max-width: 425px) {

   .jugadores{
      bottom: 70px;
      padding: 0;
   }
   .jugadores p{
      font-size: 20px;
   }
   .jugadores > img{
      display: none;
   }
   @keyframes pulse {
   0% {
      transform: scale(1);
   }
   50% {
      transform: scale(1.2);
   }
   100% {
      transform: scale(1);
   }

}
